{% extends "base.html" %}
{% block content %}

<div class="central-area">
  <div class="login-form">

    {% for category, message in get_flashed_messages(with_categories=true) %}
      <h3 class="{{category}}">{{ message }}</h3>
      <br><br>
    {% endfor %}

    <div class="authorization">
      <form method="post">
        <input type="hidden" name="next" value="{{ request.args.get('next', '') }}"/>

        <h3>Sign up</h3><br>
        <input type="text" name="email" placeholder="Email" required>
        <input type="text" name="password" placeholder="Password" required>
        <input type="text" name="confirm_password" placeholder="Confirm Password" required>

        <br><br>

        <input type="text" name="first_name" placeholder="First Name" required>
        <input type="text" name="last_name" placeholder="Last Name" required>
        <input type="text" name="birth_year" placeholder="Year of birth" required>

        <br><br>

        <center>
          <button type="submit" class="mid-button">Sign up</button>
        </center>

        </form>
    </div>
</div>
      <script>
        var password = document.getElementById("password")
          , confirm_password = document.getElementById("confirm_password");

        function validatePassword(){
          if(password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
          } else {
            confirm_password.setCustomValidity('');
          }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>
</div>
{% endblock %}